html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	font-family: "IBM Plex Mono"
}

.container {
	/* display:grid; */
	display: flex;
	justify-items: center;
	flex-direction: column;
	min-height: 100vh;
	/* grid-template-columns: 1fr; */
}

.section {
	flex: 1;
	min-height: 100vh;
	width: 100%;
	/* border: 1px dotted black; */
}

.center-text {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80vh;
	text-align: center;
}

#home_section > div.center-text {
	height: 90vh;
	line-height: 90vh;
}

.center-text > p {
	display: inline-block;
	line-height: normal;
	padding-left: 1rem;
	padding-right: 1rem;
}

.text-center {
	text-align: center;
}

.rem-3 {
	font-size: 3rem;
}

.mt-3 {
	margin-top: 3rem;
}

.about-content {
	text-align: center;
	min-height: 80vh;
}

.projects-content {
	text-align: center;
	min-height: 80vh;
}

.contact-content {
	text-align: center;
	min-height: 80vh;
}

#babybossImg {
	width: 50vw;
}

a {
	all: unset;
}

a {
	&[href^="http"] {
		&:before {
		content: "\2197\0020";
		white-space: nowrap;
		}
	}
}

.link {
	text-decoration: underline;
}

.link:hover {
	cursor: pointer;
}

.arrow-container:hover {
	cursor: pointer;
}